html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.mapWrapper {
  border-left: 1px solid #fff;
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 60px;
  bottom: 0;
}

.sidebar {
  width: 33.3333%;
  position: absolute;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.sList {
  height: 100%;
  clear: both;
  margin-top: 0%;
  overflow: auto;
}

.sList li {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.sList li:last-child {
  border-bottom: none;
}

.sList li.active,
.sList li:hover {
  background-color: lightblue;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
