html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

bold {
  font-weight: bold;
  font-size: 12px;
  padding-right: 10px;
  margin: 0px;
}

h1 {
  font-family: "Roboto Mono";
  font-weight: lighter;
}
h4,
h6 {
  font-family: "Roboto Mono";
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Mono";
  font-size: 16px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "+";
  margin-right: 14px;
}

ul li {
  font-size: 16px;
  padding: 8px;
}

i {
  font-family: "Roboto Mono";
  font-weight: lighter;
  font-size: 8px;
  padding-bottom: 24px;
}

.tdfimg {
  width: 75%;
}

.ridebtn {
  text-align: right;
  float: right;
  padding-right: 25%;
}

.mapWrapper {
  border-left: 1px solid #fff;
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 60px;
  bottom: 0;
}

.sidebar {
  width: 33.3333%;
  position: absolute;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 60px;
}

.sbfix {
  height: 100px;
}

.sb1 {
  width: 20%;
  position: absolute;
  height: 100%;
  left: 0;
  overflow: hidden;
}

.sb2 {
  width: 80%;
  position: absolute;
  height: 100%;
  left: 20%;
  overflow: auto;
}

.psb {
  width: 100%;
  top: 18%;
  position: absolute;
  padding-right: 10px;
  height: 100%;
  left: 10%;
  overflow: auto;
}

.padbtm {
  padding-bottom: 50px;
}

.sList {
  top: 150px;
  position: absolute;
  clear: both;
  margin-top: 0%;
  overflow: auto;
  padding-right: 20px;
}

.sList li {
  display: block;
  border-bottom: 1px solid lightgrey;
  /*padding: 10px;*/
  text-decoration: none;
  padding: 12px;
  margin: 10px;
  cursor: pointer;
}

.sList li:last-child {
  border-bottom: none;
}

.sList li.active,
.sList li:hover {
  background-color: lightblue;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
